  <!-- Change Detail Modal -->
  <div id="change-detail-modal" class="modal" style="display: none;">
    <div class="modal-content modal-sm">
      <div class="modal-header">
        <h3>Tag Changes</h3>
        <button class="modal-close" id="change-detail-close">&times;</button>
      </div>
      <div class="modal-body" id="change-detail-body"></div>
      <div class="modal-footer">
        <button id="change-detail-done" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
